.LoginInput:focus~.LoginLabel,
.LoginInput:not(:placeholder-shown).LoginInput:not(:focus)~.LoginLabel {
    top: 0;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 16px;
    color: #5F35F5;
    font-weight: 700;
}

.LoginInput:not(:placeholder-shown).LoginInput:not(:focus) {
    opacity: .7;
}

.LoginError {
    border-radius: 0 4px 4px;
}

.LoginError::after {
    border-color: transparent transparent rgba(0, 0, 0, .4) rgba(0, 0, 0, .4);
}

/* signup and login css  */