.resetInput:focus~.restLabel,
.resetInput:not(:placeholder-shown).resetInput:not(:focus)~.restLabel {
   top: 0;
   transform: translateY(-50%);
   opacity: 1;
   font-size: 16px;
   color: #5F35F5;
   font-weight: 700;
}

.resetInput:not(:placeholder-shown).resetInput:not(:focus) {
   opacity: .7;
}

.resetEmailError {
   border-radius: 0 4px 4px;
}

.resetEmailError::after {
   border-color: transparent transparent rgba(0, 0, 0, .4) rgba(0, 0, 0, .4);
}

/* signup and login css  */