@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

/* login and Forget password css  */
.LoginInput:focus~.LoginLabel,
.LoginInput:not(:placeholder-shown).LoginInput:not(:focus)~.LoginLabel,
.resetInput:focus~.restLabel,
.resetInput:not(:placeholder-shown).resetInput:not(:focus)~.restLabel {
    top: 0;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 16px;
    color: #5F35F5;
    font-weight: 700;
}

.LoginInput:not(:placeholder-shown).LoginInput:not(:focus),
.resetInput:not(:placeholder-shown).resetInput:not(:focus) {
    opacity: .7;
}

.LoginError,
.resetEmailError {
    border-radius: 0 4px 4px;
}

.LoginError::after,
.resetEmailError::after {
    border-color: transparent transparent rgba(0, 0, 0, .4) rgba(0, 0, 0, .4);
}

/* login and Forget password css  */